body {
    margin: 0;
    background-color: #F4F4F4;
    font-family: "Inter", sans-serif;
}

#inputNumber {
    text-align: center;
    background: none;
    color: white;
    font-weight: bolder;
    font-size: 40px;
    border: 3px solid #B295FF;
    border-radius: 8px;
    width: min-content;
    field-sizing: content;
    min-width: 100px;
    height: 70px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    background-color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #3D3D3D;
    font-weight: bold;

    transition: transform 0.1s ease, background-color 0.2s ease;
}

button:hover {
    background-color: #f0f4f8;
    filter: brightness(0.95);
}

button:active {
    transform: scale(0.95); /* Button drückt sich leicht zusammen */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#app {
    margin: 0;
    padding: 0;
    text-align: center;
    
}

h1 {
    color: white;
}

#header {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6943FF;
}

.resultContainer {
    background-color: white;
    text-align: center;
    margin: 30px;
    padding: 14px;
    min-width: 500px;
    max-width: 500px;
}

h2 {
    color: #5A537B;
}

p {
    color: #353535;
}

#output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

